.editor-input {
    --padding-y: 9px;
    --line-height: 20px;
    --min-height: calc((var(--padding-y) * 2) - var(--line-height));
    position: relative;
    display: block;
    max-height: 150px;
    min-height: max(var(--min-height),42px);
    width: 100%;
    max-width: 100%;
    flex-shrink: 1;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid transparent;
    background-color: transparent;
    color: white;
    caret-color: #53fc18;
    padding-left: .625rem;
    padding-right: .625rem;
    padding-top: var(--padding-y);
    padding-bottom: var(--padding-y);
    font-size: .875rem;
    line-height: 1.25rem;
    outline: 2px solid transparent;
    outline-offset: 2px
}

.editor-input:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 #0000)
}

.editor-paragraph>* {
    display: inline;
    max-width: 100%
}

.editor-custom-command {
    display: inline;
    border-radius: .25rem;
    border-width: 1px;
    border-style: solid;
    border-color: var(--chat-command-validation-color);
    padding: .25rem .375rem;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(0,0,.2,1);
    animation-duration: .2s;
    animation-timing-function: cubic-bezier(0,0,.2,1)
}
